<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Merkmod api</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/pages.css">
<style>
    body    { padding-top:50px; }
</style>